<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <link rel='stylesheet' href='dist/style.css'>
</head>
<body>
    <div class="container">
        {{> "./src/templates/geo-content.hbs"}}
    </div>
</body>
</html>
